#map {
  height: 450px;
}

.footer {
  position: absolute;
  width: 100%;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; /* 此為地圖長寬比 */
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
