.footer {
  margin-top: 2%;
}

.L2 {
  padding: 0;
  margin: 0;
}
#map {
  height: 450px;
}

#myTab {
  margin-bottom: 2%;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; /* 此為地圖長寬比 */
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
